@import url("/asset/responsive.scss");
@import url("/asset/button.scss");
html {
  background-color: rgba(0, 0, 0, 0.88);
  scroll-behavior: smooth;
}
html body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Roboto", sans-serif;
}
html body::-webkit-scrollbar {
  width: 12px;
}
html body::-webkit-scrollbar-track {
  background: rgb(46, 45, 44);
}
html body::-webkit-scrollbar-thumb {
  background-color: #4B9E6C;
  border-radius: 20px;
  border: 3px solid rgb(31, 31, 31);
}

.fab {
  margin-left: 1.5rem;
  font-size: 40px;
  color: #4B9E6C;
}
.fab:hover {
  font-size: 45px;
  transition: 0.1s;
}

#toTop {
  border-radius: 20%;
  z-index: 999;
  scroll-behavior: smooth;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
  font-size: 12px;
  color: #242424;
  font-weight: 400;
  display: none;
  cursor: pointer;
}

header {
  background: url("/img/background/bg.jpg");
  height: 1000px;
}
header .video {
  padding: 3rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  height: 450px;
  width: 100% auto;
  align-items: center;
  flex-direction: column;
}
header .video iframe {
  width: 50%;
  height: 100%;
}

#icon {
  font-size: 50px;
  color: rgb(255, 255, 255);
  background: rgb(109, 101, 101);
  padding: 1rem;
  border-radius: 2ch;
  width: 105px;
  text-align: center;
}

nav {
  display: flex;
  width: auto;
  padding: 35px;
  flex-direction: column;
  align-items: center;
}
nav img {
  width: auto;
}
nav ul {
  display: flex;
  list-style: none;
  border-radius: 2ch;
  padding: 10px;
  width: auto;
  text-transform: uppercase;
}
nav li:hover {
  text-decoration: underline;
  transition: 0.2s;
}
nav a {
  color: rgb(255, 255, 255);
  margin: 1rem;
  font-weight: 600;
  padding: 12px;
  text-shadow: 0 0 10px #0e0d0d;
  font-size: 16px;
  text-decoration: none;
}
nav a:hover {
  transition: 0.2s;
  font-size: 18px;
}

#acc-btn {
  color: #5ed68e;
  transition: 0.2s;
}

.boardWelcome {
  margin: 0 auto;
}
.boardWelcome .boardContainer {
  display: flex;
  justify-content: center;
}
.boardWelcome .boardContainer img {
  position: absolute;
  width: 1113px;
  height: 433px;
  mix-blend-mode: normal;
}
.boardWelcome .boardContainer #srp {
  position: absolute;
  padding: 6.5rem;
  width: 334px;
  height: 127px;
  background: url(srp.png);
}
.boardWelcome .boardContainer #perso {
  position: absolute;
  width: 322px;
  height: 433px;
  background: url(message_2.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 161px;
}

.screenContainer {
  background: url("/img/srp/bg_default.png");
  padding: 274px;
}
.screenContainer a {
  text-decoration: none;
}
.screenContainer p {
  text-align: center;
  padding: 15px;
  color: #ede6e6;
}

.screen-list {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-around;
}
.screen-list div img {
  height: 200px;
  width: 350px;
  filter: blur(4px);
}
.screen-list div img:hover {
  filter: blur(0px);
  transition: 0.8;
}

.otherContainer {
  padding: 2rem;
  display: flex;
  margin-top: -12rem;
}
.otherContainer .otherBox {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: inset -17px -20px 17px 20px #4b9e6c;
  display: flex;
  padding: 3rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.otherContainer .otherBox article {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.otherContainer .otherBox h3 {
  padding: 1rem;
  color: rgb(255, 255, 255);
  /* font-size: 18px; */
  color: #FFFFFF;
  background: #4B9E6C;
  text-shadow: 0 0 10px #353030;
  border-radius: 5px;
  width: 200px;
}
.otherContainer .otherBox p {
  width: 60%;
  color: rgb(88, 86, 86);
}

.join {
  padding: 100px;
  color: #4B9E6C;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.join h2 {
  margin-left: 7.5rem;
  font-size: 3rem;
}
.join h3 {
  color: aliceblue;
}
.join p {
  position: relative;
  font-size: 19px;
  color: rgb(199, 199, 199);
  text-align: center;
  width: 50%;
}
.join .join-Container {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}
.join .join-Box {
  color: #484848;
  text-align: center;
  /* background-color: rgb(117, 109, 109); */
  /* border-radius: 30px; */
  padding: -13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join .join-Box img {
  width: 30%;
}
.join .join-Box a {
  text-decoration: none;
  color: white;
  background: #4B9E6C;
  padding: 1rem;
  border-radius: 5rem;
}
.join .join-Box a:hover {
  transition: 0.3s;
  background: #ffffff;
  color: #4B9E6C;
}

.end {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  flex-direction: row-reverse;
  align-items: baseline;
}
.end img {
  position: absolute;
  height: 900px;
  animation: radius 10s ease-in-out infinite;
  -webkit-animation: radius 10skease-in-out infinite;
  margin-top: -155px;
  z-index: -2;
  display: none;
}
.end #discord iframe {
  height: 200px;
  border: 5px solid #575689;
  width: 200px;
}

.end-Container {
  display: flex;
  width: 434px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 20px;
  height: 305px;
}
.end-Container .end-Server {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.end-Container .end-Server h3 {
  background-color: rgba(255, 255, 255, 0.9450980392);
  width: 250px;
  text-align: center;
  padding: 7px;
  border-radius: 0ch;
  color: rgb(95, 92, 92);
}
.end-Container .end-Server .end-Box {
  text-align: center;
}

.end-Info {
  color: white;
}

.end-Info a {
  text-align: center;
  /* margin-right: 2rem; */
  font-size: 18px;
  text-decoration: none;
  text-decoration: auto;
  color: rgb(75, 158, 108);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.end-Info a:hover {
  text-decoration: underline;
  transition: 0.2s;
  font-size: 20px;
}

#reseaux {
  font-size: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* margin-left: -1rem; */
  padding: 1rem;
}

#myBtn {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: rgba(95, 93, 93, 0.192);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 80px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}
#myBtn .far {
  color: white;
}
#myBtn:hover {
  background-color: #4B9E6C;
  /* Add a dark-grey background on hover */
}

footer {
  margin-top: 14%;
}
footer p {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

/* ----------- KEYFRAME * --------*/
@keyframes radius {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 300px) {
  nav ul {
    display: flex;
    list-style: none;
    border-radius: 2ch;
    padding: 0px;
    width: auto;
    font-size: 20px;
    text-transform: uppercase;
    flex-direction: column;
  }

  header .video {
    padding: 3rem;
    margin-top: -2rem;
  }

  .boardWelcome .boardContainer #srp {
    position: absolute;
    padding: 0.5rem;
  }

  .screen-list {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
  }

  .screenContainer {
    background: url(/img/srp/bg_default.png);
    padding: 171px;
  }

  .screenContainer p {
    display: none;
  }

  .otherContainer .otherBox {
    background: rgba(255, 255, 255, 0.212);
    box-shadow: 10px 5px 5px #4b9e6c;
    display: flex;
    padding: 3rem;
    flex-direction: column;
  }

  .end {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }

  .join {
    display: flex;
    flex-direction: column;
  }

  .join h2 {
    margin-left: 0.5rem;
  }

  .join .join-Container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
  }

  .end-Container {
    display: flex;
    background-color: rgba(247, 244, 244, 0.7529411765);
    width: 290px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px;
    height: 373px;
  }
}

/*# sourceMappingURL=button.css.map */
